---
Checks:
- bugprone-*
- cert-*
- clang-analyzer-*
- concurrency-*
- cppcoreguidelines-*

- hicpp-*
# Windows macros often break these checks
- -hicpp-signed-bitwise

- misc-*
# Disagrees with IWYU tool
- -misc-include-cleaner
# complains about templates being defined in headers
- -misc-use-internal-linkage

- modernize-*
# It's horrible with templates and makes code less readable
- -modernize-use-trailing-return-type
# Ditto. This also causes a bunch of compile issues due to casts.
- -modernize-return-braced-init-list
# This seems wrong
- -modernize-use-nodiscard

- performance-*
# Makes no sense unless memory size is hugely critical.
- -performance-enum-size

- portability-*

- readability-*
# Windows BOOL type breaks this check
- -readability-implicit-bool-conversion
# Ugh. Really?
- -readability-math-missing-parentheses

# ---- clang-diagnostics exceptions ----

# complains when we miss an initialiser for something thas has a default initialiser
- -clang-diagnostic-missing-designated-field-initializers

# clang doesn't like the includes of poppack.h. Given these are in windows
# includes, I'm not sure why it's complaining about them.
- -clang-diagnostic-pragma-pack

# appears to be completedly broken when done dynamically from visual studio
- -clang-diagnostic-pragma-once-outside-header

# ---- General exceptions to the rules ----

# Still using printf family in some places for simplicity.
- -*-vararg

# Disabling magic numbers for now, as there are too many to fix
- -*-magic-numbers

# Currently have too many C-style arrays to enable this check.
- -*-avoid-c-arrays

# Unnamed parameters are often useful in overrides.
- -*-named-parameter

# Problem in atlcomcli.h which I can't work out how to ignore in a more
# pinpointed fashion
- -portability-template-virtual-member-function
