name: CI_build

on:
  workflow_call:
    inputs:
      release:
        required: true
        type: boolean

jobs:
  build:

    runs-on: windows-latest
    strategy:
      matrix:
        build_configuration: [Release, Debug]
        build_platform: [x64, Win32, ARM64]

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: MSBuild of plugin dll
      working-directory: .\
      run: msbuild linter.vcxproj /m /p:configuration="${{ matrix.build_configuration }}" /p:platform="${{ matrix.build_platform }}" /p:PlatformToolset="v143" /p:PostBuildEventUseInBuild=false

    - name: Archive artifacts release build
      if: matrix.build_configuration == 'Release'
      uses: actions/upload-artifact@v4
      with:
        name: plugin_dll_${{ matrix.build_platform }}
        path: Linter++\${{ matrix.build_platform }}\${{ matrix.build_configuration }}

    # I really do not like this approach
    - name: Upload artifacts when pushing tags
      if: matrix.build_configuration == 'Release' && inputs.release
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        $source_path = "Linter++\${{ matrix.build_platform }}\${{ matrix.build_configuration }}\*"
        $destination_path = "plugin_dll_${{ matrix.build_platform }}.zip"
        Compress-Archive -Path "$source_path" -DestinationPath "$destination_path"
        gh release upload "${{github.event.release.tag_name}}" "$destination_path"
