name: CI_build

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        build_configuration: [Release, Debug]
        build_platform: [x64, Win32, ARM64]

    steps:
    - name: Checkout repo
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: MSBuild of plugin dll
      working-directory: .\
      # Force the toolset and c++ version to v143/c++20 till v145 is available on github
      run: msbuild linter.vcxproj /m /p:configuration="${{ matrix.build_configuration }}" /p:platform="${{ matrix.build_platform }}" /p:PostBuildEventUseInBuild=false /p:PlatformToolset="v143" /p:LanguageStandard=""stdc++20""

    - name: Archive artifacts release build
      if: matrix.build_configuration == 'Release'
      uses: actions/upload-artifact@v4
      with:
        name: plugin_dll_${{ matrix.build_platform }}
        path: Linter++\${{ matrix.build_platform }}\${{ matrix.build_configuration }}
